{% extends 'base.html.twig' %}

{% block body %}
<div style="margin: 100px"></div>
<div class="container mt-4">
    <h1>Éditer</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary">Sauvegarder</button>
    {{ form_end(form) }}
</div>

{% endblock %}