{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
	<div>
		<h1 style="text-align: center;padding-top: 11%;padding-bottom: 10%;background-color: #007BFF;color: #0020ff;background-image: linear-gradient(rgb(0, 92, 255), white);">Bienvenue sur BuyYourStuff !</h1>
		<div style="text-align: center; margin-top: 6%">
			<a href="/product" class="btn btn-primary" style="height: 120px; width: 350px; padding: 32px 0 32px 0; font-size: 28px; border-radius: 18px; margin-right: 160px">Consultez nos produits !</a>
			<a href="/categorie" class="btn btn-primary" style="height: 120px; width: 350px; padding: 32px 0 32px 0; font-size: 28px; border-radius: 18px">Consultez nos cat&eacutegories !</a>		
		</div>
	</div>
{% endblock %}